name: CI/CD

on:
  workflow_dispatch:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '6.0.x'

      - name: Restore dependencies
        run: dotnet restore PowerManagement.sln --source https://api.nuget.org/v3/index.json

      - name: Run unit tests and calculate coverage
        run: dotnet test PowerManagement.sln -c Release /p:CollectCoverage=true /p:CoverletOutputFormat=opencover

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup .NET
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: '6.0.x'

      - name: Restore dependencies
        run: dotnet restore PowerManagement.sln --source https://api.nuget.org/v3/index.json

      - name: Build and publish
        run: dotnet publish PowerManagement.sln -c Release -o Release/

      - name: Create deployment package
        run: |
          cd Release
          zip -r ../cdk/PowerManagement.Lambda.zip ./

      - name: Deploy infrastructure
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
          SSH_ACTION_PLAN: ${{ secrets.SSH_ACTION_PLAN }}
        run: |
          cd cdk
          npx cdk synth --quiet
          npx cdk deploy --require-approval never --parameters SshActionPlan=${{ env.SSH_ACTION_PLAN }}
